/* Substituido pelo Tailwind CSS */

/* *{
    box-sizing: border-box;
}
.navbar{
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
}
li{
    padding: 0px 5px;
} */